@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

:root {
  --clr-main-blue: #0768ac;
  --clr-complementary-blue: #0b7ac9;
  --clr-main-Indigo: #221958;
  --clr-main-yellow: #e8bc55;
  --clr-main-white: #fff;
  --clr-main-black: #030303;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-white);
  /* max-width: 1440px;
  margin: 0 auto; */
  /* overflow-x: hidden; */
}

section {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

section.animate {
  opacity: 1;
  transform: translateY(0);
}


a {
  text-decoration: none;
}

.top-links-container {
  background-color: var(--clr-main-Indigo);
}

.top-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style-type: none;
  padding: 0.7rem 0;
  width: 92%;
  margin: 0 auto;
  font-size: 0.85rem;
  color: var(--clr-main-white);
}

.top-links a {
  color: inherit;
  font-size: inherit;
}

.enroll-btn a {
  padding: 0.2rem 0.4rem;
  background-color: #2563eb;
  border-radius: 0.2rem;
}

.logo img {
  display: flex;
  align-items: center;
  width: 6rem;
}

header {
  position: sticky;
  width: 100%;
  z-index: 999;
  top: 0;
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 0.3rem;
  z-index: 1000;
}
.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--clr-main-Indigo);
  transition: all 0.3s ease;
}

nav {
  background-color: var(--clr-main-yellow);
  padding: 0.3rem 0;
}

.nav-links-container {
  margin: 0 auto;
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  font-size: 0.9rem;
}

.nav-links a {
  color: var(--clr-main-Indigo);
}

.nav-links a:hover {
  color: var(--clr-main-black);
}

.hero {
  height: 400px;
  width: 100%;
}

.hero .wrapper,
.hero .slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero .slide {
  overflow: hidden;
}

.hero .slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.hero .slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero .slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}

.hero h1 {
  font-size: clamp(1rem, 5.8vw, 3rem);
  font-weight: 700;
  color: var(--clr-main-white);
}

.hero .image-data span.text {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}

.hero a.button {
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: var(--clr-main-white);
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}

.hero a.button:hover {
  color: #000000;
  background-color: rgb(247, 247, 247);
}

.hero .nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.hero .nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.hero .swiper-button-next {
  right: 60px;
}

.hero .swiper-button-prev {
  left: 60px;
}

.hero .nav-btn::before,
.hero .nav-btn::after {
  font-size: 25px;
  color: var(--clr-main-white);
}

.hero .swiper-pagination-bullet {
  opacity: 1;
  height: 10px;
  width: 10px;
  background-color: var(--clr-main-white);
}

.hero .swiper-pagination-bullet-active {
  border: 2px solid var(--clr-main-white);
  background-color: var(--clr-main-Indigo);
}

.welcome {
  width: 92%;
  margin: 3rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.welcome-image {
  width: 40%;
  display: flex;
  align-items: center;
}
.welcome-image img {
  max-width: 410px;
  width: 100%;
}

.welcome-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-text h2 {
  font-size: clamp(0.5rem, 7vw, 2.5rem);
  color: var(--clr-main-Indigo);
  margin-bottom: 0.4rem;
}

.welcome-text span {
  color: #858585;
  font-style: italic;
  margin-top: 0.8rem;
}

.welcome-text p {
  font-size: 0.95rem;
}

.about-us {
  width: 92%;
  margin: 5rem auto;
}

.about-us h2 {
  font-size: clamp(0.5rem, 7vw, 2.5rem);
  color: var(--clr-main-Indigo);
  margin-bottom: 2rem;
  text-align: center;
}

.about-image {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.about-image img {
  max-width: 410px;
  width: 100%;
}

.about-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.about-container p {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.95rem;
}

.levels-container {
  margin: 0 auto;
  width: 92%;
  background-color: #effafe;
  padding: 4rem 1rem 2rem 1rem;
}

.level-head {
  margin-bottom: 4rem;
}

.level-head h2 {
  font-size: clamp(0.5rem, 7vw, 2.5rem);
  color: var(--clr-main-Indigo);
  margin-bottom: 0.4rem;
  text-align: center;
}

.levels-container p {
  font-size: 0.95rem;
}

.level-head p {
  width: 80%;
  margin: 0 auto;
}

.level-1 {
  background-color: #d6f4fe;
  padding: 3rem 1rem;
  margin-bottom: 3rem;
}

.level-1 h3 {
  font-size: clamp(0.5rem, 6vw, 2rem);
}

.level-2 {
  background-color: #f1f4ed;
  padding: 3rem 1rem;
  margin-bottom: 3rem;
}

.level-2 h3 {
  font-size: clamp(0.5rem, 6vw, 2rem);
}

.level-3 {
  background-color: #d6f4fe;
  padding: 3rem 1rem;
  margin-bottom: 3rem;
}

.level-3 h3 {
  font-size: clamp(0.5rem, 6vw, 2rem);
}

.mission-vision h3 {
  font-size: clamp(0.5rem, 6vw, 2rem);
  color: var(--clr-main-Indigo);
}

.mission-vision {
  width: 92%;
  margin: 1rem auto 5rem auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mission,
.vision {
  max-width: 500px;
}

.mission-card,
.vision-card {
  font-size: 0.92rem;
}

.news-events {
  margin: 5rem auto 3rem auto;
}

.news-events h2 {
  font-size: clamp(0.5rem, 7vw, 2.5rem);
  color: var(--clr-main-Indigo);
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: center;
}

.news-card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.274);
  margin: 0 auto;
}

.news-content {
  padding: 1.1rem;
}

.news-image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: #2219582f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-image h3 {
  color: #3333331f;
  font-size: 2rem;
}

.news-title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.news-text {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.news-btn {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563eb;
  padding: 4px 8px;
  border-radius: 4px;
}
.news-events .head-text {
  font-size: 0.95rem;
  width: 80%;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.news-btn span {
  display: flex;
  align-items: center;
  transform: translateX(4px);
}

.news-container {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin: 0 auto;
  gap: 3rem;
  flex-wrap: wrap;
}

.test-head {
  margin: 0 auto;
  width: 92%;
}

.test-head h2 {
  font-size: clamp(0.5rem, 7vw, 2.5rem);
  color: var(--clr-main-Indigo);
  display: flex;
  justify-content: center;
}

.testimonial-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.testimonial {
  position: relative;
  max-width: 900px;
  width: 98%;
  padding: 30px 0;
  overflow: hidden;
  margin: 0 auto;
}

.testimonial .image {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
}

.testimonial-container .slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 0.95rem;
}

.testimonial-container .slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}

.testimonial-container .slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.details .job {
  font-size: 0.7rem;
  font-weight: 400;
  color: #333;
}
.testimonial-container .nav-btn {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.testimonial-container .nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.testimonial-container .nav-btn::after,
.testimonial-container .nav-btn::before {
  font-size: 20px;
  color: #fff;
}

.testimonial-container .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}

.testimonial-container .swiper-pagination-bullet-active {
  background-color: #4070f4;
}

.enroll {
  background-color: #2563eb;
}

.enroll-container {
  width: 92%;
  margin: 0rem auto 2rem auto;
  padding: 2rem 1rem;
}

.enroll-container p {
  font-size: 0.95rem;
  text-align: center;
  color: #fff;
  width: 80%;
  margin: 0 auto 2rem auto;
}

.enroll-container a {
  padding: 0.4rem 1.4rem;
  background-color: #fff;
  color: #2563eb;
  font-size: 0.85rem;
  margin: 0 auto;
  font-weight: 500;
  border-radius: 3px;
  border: 2px solid #fff;
}

.enroll-container a:hover {
  background-color: #00000000;
  color: #fff;
}

.enroll-cta {
  display: flex;
  justify-content: center;
}

.gallery-head {
  margin: 2rem auto;
  width: 92%;
}

.gallery-head h2 {
  font-size: clamp(0.5rem, 7vw, 2.5rem);
  color: var(--clr-main-Indigo);
  display: flex;
  justify-content: center;
}

.gallery-head p {
  font-size: 0.95rem;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.slider {
  width: 92%;
  max-width: 650px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto 2rem auto;
}

.slides img {
  width: 100%;
  display: none;
}

.slides img.active {
  display: block;
}

.progress-bars {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.bar {
  flex: 1;
  height: 3px;
  margin: 4px 5px;
  border-radius: 20px;
  background-color: #ddd;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background-color: white;
  transition: width 3s linear;
}

.bar {
  position: relative;
  background-color: #ddd;
  overflow: hidden;
}

.bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: white;
  transition: width linear;
}

.contact-us {
  width: 92%;
  margin: 3rem auto;
}

.contact-head h2 {
  font-size: clamp(0.5rem, 7vw, 2.5rem);
  color: var(--clr-main-Indigo);
  display: flex;
  justify-content: center;
}

.contact-head p {
  font-size: 0.95rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.info img {
  width: 35px;
  height: 35px;
}

.info span {
  font-size: 0.95rem;
  display: block;
}

.info span a {
  color: #000;
}

.info h3 {
  font-size: 1.2rem;
  color: var(--clr-main-Indigo);
}

.location,
.email,
.call {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.icon img {
  margin: 0.2rem 0.2rem 0 0;
}

.contact-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  align-items: center;
  width: fit-content;
  background-color: #e7f7fc;
  border-radius: 5px;
  padding: 1rem;
  margin: 3rem auto 0 auto;
}

.contact-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
}

@media (max-width: 450px) {
  .top-links {
    font-size: 0.7rem;
  }

  .hero .image-data span.text {
    font-size: 0.8rem;
  }

  .contact-image img {
    display: none;
  }

  .contact-container {
    background-color: #fff;
    display: block;
  }

}

@media (max-width: 700px) {
  .top-address {
    display: none;
  }

  .hero .nav-btn {
    width: 40px;
    height: 40px;
  }

  .hero {
    height: 250px;
  }

  .hero .swiper-button-next {
    right: 20px;
  }

  .hero .swiper-button-prev {
    left: 20px;
  }

  .testimonial-container .slide p {
    padding: 0 40px;
    font-size: 0.8rem;
  }

  .testimonial-container .nav-btn {
    height: 30px;
    width: 30px;
  }

  .testimonial-container .nav-btn::after,
  .testimonial-container .nav-btn::before {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .welcome {
    flex-wrap: wrap-reverse;
  }

  .welcome-text {
    width: 100%;
  }

  .welcome-image {
    width: 100%;
  }

  .welcome-image img {
    margin: 0 auto;
  }

  .welcome-text h2 {
    font-size: 1.8rem;
  }

  .welcome-text p,
  .welcome-text span {
    font-size: 0.85rem;
  }

  .about-container {
    flex-wrap: wrap;
  }

  .about-us h2 {
    margin-bottom: 0;
    font-size: 1.8rem;
  }

  .about-container p {
    width: 100%;
    font-size: 0.85rem;
  }

  .about-image {
    width: 100%;
  }

  .about-image img {
    margin: 0 auto;
  }

  .levels-container h2 {
    font-size: 1.8rem;
  }

  .levels-container h3 {
    font-size: 1.4rem;
  }

  .levels-container p {
    font-size: 0.85rem;
  }

  .level-head p {
    width: 100%;
  }

  .mission-vision p {
    font-size: 0.85rem;
  }

  .mission-vision-container h2 {
    font-size: 1.8rem;
  }

  .mission-vision h3 {
    font-size: 1.4rem;
  }

  .news-events h2 {
    font-size: 1.8rem;
  }

  .news-events .head-text {
    font-size: 0.85rem;
    width: 92%;
  }

  .test-head h2 {
    font-size: 1.8rem;
  }

  .enroll-container p {
    font-size: 0.85rem;
    width: 98%;
  }

  .gallery-head h2,
  .contact-head h2 {
    font-size: 1.8rem;
  }

  .gallery-head p,
  .contact-head p {
    font-size: 0.85rem;
    width: 100%;
  }

  .info span {
    font-size: 0.9rem;
  }
}

@media (max-width: 950px) {
  .burger {
    display: flex;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--clr-main-yellow);
    padding: 1rem;
    gap: 1.5rem;
  }
  .nav-links.active {
    display: flex;
  }

  .welcome-text p,
  .about-container p {
    font-size: 0.9rem;
  }
}
